:root {
  --background: #ffffff;
  --foreground: #171717;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}

@keyframes zoomIn {
  from { transform: scale(0.9); opacity: 0; }
  to { transform: scale(1); opacity: 1; }
}

/* Navigation Styling */
.nav-underline .nav-link {
  color: #000000;
  font-weight: 500;
  padding-bottom: 8px;
  transition: all 0.25s ease-in-out;
  position: relative;
  margin-left: 10px;
  
}

/* Hover underline effect */
.nav-underline .nav-link:hover {
  color: #09d26a; /* Bootstrap primary color */
}

.nav-underline .nav-link::after {
  content: "";
  position: absolute;
  bottom: 0px;
  left: 0;
  height: 2px;
  width: 0%;
  background-color: #0d6efd;
  transition: width 0.3s ease;
}

.nav-underline .nav-link:hover::after,
.nav-underline .nav-link.active::after {
  width: 100%;
}

/* Active Link Color */
.nav-underline .nav-link.active {
  color: #0d6efd;
  font-weight: 600;
}

.nav{
  display: flex;
  justify-content: center;
  background-color: #0d6efd;
}

.page{
  margin-left: 300px;
  margin-top: 50px;
}